#{extends 'Admin/adminMain.html'/}

<div id="instructions">
    hasTournamentStarted: ${hasTournamentStarted}<br/>
    hasTest1Started: ${hasTest1Started}<br/>
    hasTest2Started: ${hasTest2Started}<br/>
    <hr/>
    <a href="/admin/users">List users and change their groups</a><br/>
    <br/>
    <a href="/admin/sumPoints">Sum the users' points</a><br/>
    <br/><br/><br/><br/>
    <font size="-1">
        <a href="/admin/deleteResults">Delete all results (user id 0), good to have!</a><br/>
    </font>
</div>
