#{extends 'Admin/adminMain.html'/}

<div>
    <b>Top List</b>

    <table cellpadding="4" border="2">
        <thead><tr><th>Avatar</th><th>Id</th><th>Name</th><th>Email</th>
            <th>Provider</th><th>Points</th><th>Bets placed</th><th>Group</th></tr></thead>

        %{ String group = ""; }%
        #{list items:users, as:'user' }
        %{ if (!user.group.equals(group)) {
             group = user.group;
        }%
        <tr><td colspan="7">&nbsp</td></tr>
        %{ } }%

        <tr><td><img width="30" height="30" src='${user.avatarUrl}'></td><td>${user.id}</td><td>${user.name}</td><td>${user.email}</td>
            <td>${user.socialProvider}</td><td>${user.points}</td><td>${user.betsPlaced}</td><td>${user.group}</td></tr>

        #{/list}

    </table>

    <br/><br/><b>Maillistor</b>
    %{ group = ""; }%
    #{list items:users, as:'user' }
    %{ if (!user.group.equals(group)) {
         group = user.group;
    }%
         <br/><br/>Grupp: <b>${group}</b><br/>
    %{ } }%
    ${user.email},
    #{/list}

</div>
