#{extends 'main.html'/}
#{set title: 'Brothas EM-tips 2012' /}

#{set 'moreStyles'}
  #{stylesheet 'normalize.css' /}
  #{stylesheet 'style.css' /}
  #{stylesheet 'fonts.css' /}
#{/set}

    <div id="page">
    <div id="pagecontent">
    <header role="banner">
        <div id="logo_mainnav">        
	        <p id="logo">
            EM-tipset
            </p>
            <nav id="mainnav">
            <ul>
                <li id="login"><a href="#" title="Logga in">Logga in</a></li>
                <li id="help"><a href="#" title="Hjälp">Hjälp</a></li>
                <li id=""><a href="#" title=""></a></li>
            </ul>
            </nav>
            <!--p id="sec_logo">
                <a title="Uefa European Championship 2012" href="#"><img alt="Uefa 12" src="img/logo.png" /></a>
            </p-->
        </div>
    </header>
    <div role="main">
        <div id="map">
            <div id="countryinfo">
                <span id="country"><h2>V&auml;lj ett land</h2></span>
                <span id="flag"><img alt="" src="" width=50px /></span>
            </div>
        </div>
        <div id="groups">
            <div class="group">
                <div id="A" class="group_header">A</div>
                <div class="group_table">
                    <p id="game_1">Polen - Grekland</p>
                    <p id="game_2">Ryssland - Tjeckien</p>
                    <p id="game_9">Grekland - Tjeckien</p>
                    <p id="game_10">Polen - Ryssland</p>
                    <p id="game_17">Grekland - Ryssland</p>
                    <p id="game_18">Tjeckien - Polen</p>
                </div>
            </div>
            <div class="group">
                <div id="B" class="group_header">B</div>
                <div class="group_table">
                    <p id="game_3">Holland - Danmark</p>
                    <p id="game_4">Tyskland - Portugal</p>
                    <p id="game_11">Danmark - Portugal</p>
                    <p id="game_12">Holland - Tyskland</p>
                    <p id="game_19">Portugal - Holland</p>
                    <p id="game_20">Danmark - Tyskland</p>
                </div>
            </div>
            <div class="group">
                <div id="C" class="group_header">C</div>
                <div class="group_table">
                    <p id="game_5">Spanien - Italien</p>
                    <p id="game_6">Irland - Kroatien</p>
                    <p id="game_13">Italien - Kroatien</p>
                    <p id="game_14">Spanien - Irland</p>
                    <p id="game_21">Kroatien - Spanien</p>
                    <p id="game_22">Italien - Irland</p>
                </div>
            </div>
            <div class="group">
                <div id="D" class="group_header">D</div>
                <div class="group_table">
                    <p id="game_7">Frankrike - England</p>
                    <p id="game_8">Ukraina - Sverige</p>
                    <p id="game_15">Ukraina - Frankrike</p>
                    <p id="game_16">Sverige - England</p>
                    <p id="game_23">Sverige - Frankrike</p>
                    <p id="game_24">England - Ukraina</p>
                </div>
            </div>
        </div>
    </div>

    </div>
   
    <footer id="pagefooter">
    <div id="footer_content">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet.        
    </div>
    <div id="footer_logo">
    <p id="logo">
        <a title="" href="#"><img alt="" src="@{'/public/images/UEFA_Euro_2012_logo.png'}" /></a>
    </p>
    </div>
    </footer>
    </div>

<script type="text/javascript" language="javascript"  src="/public/javascripts/d3.v2.js"></script>
<script type="text/javascript" language="javascript"  src="/public/javascripts/europe.js"></script>
