<!DOCTYPE html>

<html>
<head>
    <title>Brothas EM-tips 2012</title>
    <meta charset="${_response_encoding}">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

    #{stylesheet 'normalize.css' /}
    #{stylesheet 'style.css' /}
    #{stylesheet 'fonts.css' /}
    #{get 'moreStyles' /}
    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31820407-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    #{get 'moreScripts' /}
</head>
<body>

#{if flash.error}
<div class="alert-message block-message error">
    <div class="alert-actions">
        ${flash.error}
    </div>
</div>
#{/if}


<div id="page">
    <div id="pagecontent">
        <header role="banner">
            <div id="logo_mainnav">
                <p id="logo">
                    EM-tipset
                </p>
                <nav id="mainnav">
                    <div style="text-align:right;color:black" class="clearfix" id="account_box">
                        #{if user}
                          Inloggad som <img src="${user.avatarUrl}" width="40px" height="40px"/> ${user.displayName}
                          <a href="@{securesocial.SecureSocial.logout}" >Logga ut</a>
                        #{/if}
                        #{else}
                          Du är inte inloggad, logga in: #{loginProviders providers:providers /}
                        #{/else}
                    </div>
                </nav>
            </div>
        </header>

        <div role="main">
            <div id="map">
                <div id="countryinfo">
                    <span id="country"><h2>V&auml;lj ett land</h2></span>
                    <span id="flag"><img alt="" src="" width=50px /></span>
                </div>
            </div>

            #{doLayout /}

        </div>
    </div>

    <footer id="pagefooter">
        <div id="footer_content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet.
        </div>
        <div id="footer_logo">
            <p id="logo">
                <a title="" href="#"><img alt="" src="@{'/public/images/UEFA_Euro_2012_logo.png'}" /></a>
            </p>
        </div>
    </footer>
</div>

<script type="text/javascript" language="javascript"  src="/public/javascripts/d3.v2.js"></script>
<script type="text/javascript" language="javascript"  src="/public/javascripts/europe.js"></script>


</body>
</html>