<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-1.3.0/bootstrap.min.css'}">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    #{get 'moreStyles' /}
    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31820407-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    #{get 'moreScripts' /}
</head>
<body>

#{if flash.error}
<div class="alert-message block-message error">
    <div class="alert-actions">
        ${flash.error}
    </div>
</div>
#{/if}

<div class="topbar">
    <div class="fill">
        <div class="container">
            <h3><a href="#">Brothas EM-tips 2012</a></h3>
            <div style="text-align:right;color:white" class="clearfix">
                #{if user}
                    Inloggad som: <img src="${user.avatarUrl}" width="40px" height="40px"/> ${user.displayName}
                #{/if}
                #{else}
                    Du är inte inloggad!
                #{/else}
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-top:50px;">
    <div class="row">
        <div class="span10 columns offset2">
            #{doLayout /}
        </div>
    </div>
</div>

</body>
</html>