<!DOCTYPE html>

<html>
<head>
    <title>Brothas EM-tips 2012</title>
    <meta charset="${_response_encoding}">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

    #{stylesheet 'normalize.css' /}
    #{stylesheet 'style.css' /}
    #{stylesheet 'fonts.css' /}
    #{get 'moreStyles' /}
    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31820407-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    #{get 'moreScripts' /}
</head>
<body>

#{if flash.error}
<div class="alert-message block-message error">
    <div class="alert-actions">
        ${flash.error}
    </div>
</div>
#{/if}


<div id="page">
    <div id="pagecontent">
        <header role="banner">
            <div id="logo_mainnav">
                <p id="logo">
                    EM-tipset
                </p>
                <nav id="mainnav">
                    <ul>
                        #{if user}
                            <li>
                            <div id="avatar"><img src="${user.avatarUrl}" width="40px" height="40px"/></div> 
                            <div id="username">Inloggad som ${user.displayName}</div> 
                            <div id="logout"><a href="@{securesocial.SecureSocial.logout}" >Logga ut</a></div>
                            </li>
                        #{/if}
                        #{else}
                            <li><div id="login">Du är inte inloggad, logga in:</div> #{loginProviders providers:providers /}</li>
                        #{/else}
                    </ul>
                </nav>
            </div>
        </header>

        <noscript >För att kunna tippa behöver du aktivera Javascript. De är det värt, tro oss.</noscript>
        <div role="main">
            <div id="map">
                <div id="countryinfo">
                    <div id="country"><h2>V&auml;lj ett land</h2></div>
                    <div id="flag"><img alt="" src="" /></div>
                    <div id="info">
                    </div>
                </div>
            </div>

            #{doLayout /}

        </div>
    </div>

    <footer id="pagefooter">
        <div id="footer_content">
        <p id="footer_logo">
           <a title="UEFA Euro 2012" href="http://www.uefa.com/uefaeuro/index.html"><img alt="" src="@{'/public/images/UEFA_Euro_2012_logo.png'}" /></a>
        </p>
        <p><strong>Tippa fotbolls-EM 2012 med oss!</strong></p> 
        <p>Vi börjar med gruppspelet. Varje rätt tippad match ger en (1) poäng. Sex matcher i vardera grupp ger maximalt 24 poäng. Gruppspelet skall vara färdigtippat innan EM börjar, alltså innan <strong>8/6 kl. 18.00</strong> svensk tid.</p>
        <div class="standout">
            <ul>
                <li>Deadline för tippning av gruppspelet är 8/6 kl. 18.00</li>
                <li>Rätt tippad gruppspelsmatch ger 1 poäng/match</li>
            </ul>
         </div>
        <p>När gruppspelet är avslutat är du välkommen tillbaka hit för att tippa slutspelet (Oroa er ej, vi skickar ut en påminnelse).</p>
        <p>Hur du tippar gruppspelet påverkar inte dina möjligheter att tippa slutspelet. Har du således otur i tippningen av gruppspelet har du goda chanser att reparera i slutspelet. Särskilt då varje kvartsfinal ger 2 poäng, varje semifinal 4 poäng och final hela 10 poäng. Förutsatt att du tippar rätt såklart. Tippar du rätt på samtliga matcher i slutspelet ger det alltså 26 poäng (4 * 2p + 2 * 4p + 10p). Slutspelet skall vara färdigtippat innan första slutspelsmatchen börjar, alltså innan <strong>21/6 kl. 20.45</strong> svensk tid.</p>   
        <div class="standout">
            <ul>
                <li>Deadline för tippning av slutspelet är 21/6 kl. 20.45</li>
                <li>Rätt tippad kvartsfinal ger 2 poäng/match</li>
                <li>Rätt tippad semifinal ger 4 poäng/match</li>
                <li>Rätt tippad EM-vinnare ger 10 poäng</li>
            </ul>
        </div>
        <p>Självfallet är det summan av gruppspelet och slutspelet som räknas, så häng med hela vägen. Maximalt går det alltså att skrapa ihop 50 poäng.</p> 
        <p><strong>Må bäste tippare vinna!</strong></p>
        <p></p>
        <p>För mer information om fotbolls-EM 2012 besök <a href="http://www.uefa.com/uefaeuro/index.html">UEFA</a>, <a href="http://svenskfotboll.se/landslag/herrar/em-2012/">SvFF</a> eller <a href="https://sv.wikipedia.org/wiki/UEFA_Euro_2012">Wikipedia</a>.
        </div>
        <div id="footer_props">
        <div id="footer_props_text">Denna site drivs av <a href="http://www.playframework.org/">Play</a> i <a href="https://www.heroku.com/">Herokus</a> moln. Dina tippningar (och mycket mer) sparas i en <a href="http://www.postgresql.org/">PostgreSQL</a>-databas.  Gränssnittet har polerats med <a href="http://jquery.com/">jQuery</a> och kartan är gjord med hjälp av <a href="http://www.d3js.org">D3</a>.
        Källkoden finns att tillgå på <a href="https://github.com/gostaj/emtipset">Github</a>.
        </div>
        <div id="footer_props_logos">
            <a class="logo" href="http://www.playframework.org/"><img title="Play Framework" src="@{'/public/images/normal.png'}" alt="Play Framework" /></a>
            <a class="logo" href="https://www.heroku.com/"><img title="Heroku" src="@{'/public/images/heroku-logo-light-88x31.png'}" alt="Heroku" /></a>
            <a class="logo" href="http://www.postgresql.org/"><img title="PostgreSQL" src="@{'/public/images/postgreSQL_Logo.png'}" alt="PostgreSQL" /></a>
            <a class="logo" href="http://jquery.com/"><img title="JQuery" src="@{'/public/images/JQuery_logo_color_onwhite-300x74.png'}" alt="JQuery" /></a>
            <a class="logo" href="https://github.com/"><img title="Github" src="@{'/public/images/Octocat.png'}" alt="Github" /></a>
        </div>
        </div>
        <div id="footer_colophon">Porlabackenduon - en del av Brothas - 2012</div>
    </footer>
</div>

<script type="text/javascript" language="javascript"  src="/public/javascripts/d3.v2.js"></script>
<script type="text/javascript" language="javascript"  src="/public/javascripts/europe.js"></script>


</body>
</html>
